<launch>
    <!-- Args for ar_track_alvar -->
    <arg name="marker_size" default="17.7" />
    <arg name="max_new_marker_error" default="0.08" />
    <arg name="max_track_error" default="0.2" />
    <arg name="cam_image_topic" default="/io/internal_camera/head_camera/image_raw" />
    <arg name="cam_info_topic" default="/io/internal_camera/head_camera/camera_info" />
    <arg name="output_frame" default="/head_camera" />

    <!-- This is starting the joint server -->
    <node pkg="intera_interface"  name="action_server" type="joint_trajectory_action_server.py" output="screen" />

    <!-- This starts MoveIt -->
    <include file="$(find sawyer_moveit_config)/launch/sawyer_moveit.launch">
        <arg name="electric_gripper" value="true" />
    </include>

    <!-- This starts ar_track_alvar -->
    <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
        <param name="marker_size"           type="double" value="$(arg marker_size)" />
        <param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
        <param name="max_track_error"       type="double" value="$(arg max_track_error)" />
        <param name="output_frame"          type="string" value="$(arg output_frame)" />

         <remap from="camera_image"  to="$(arg cam_image_topic)" />
         <remap from="camera_info"   to="$(arg cam_info_topic)" />
    </node>

    <node pkg="sawyer_ik" name="ik_node" type="ik_node.py" output="screen" />

</launch>
